@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}

body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #4eca1d; /* El color del fondo de la página web */
    color: #304b8f; /* El color del texto*/ 
}
h1:hover {
    animation: color-change 3s infinite;
}
h2 {
    color: #488a3ffa; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
    animation: color-change 3s infinite;
}