<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portafolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MY SKILLS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Vista previa -->
      <section class="main__home home" id="home">
        <h1 class="home__title">THIAGO KIM</h1>
        <p class="home__subtitle">WEB-DEVELOPER, PYTHON PROGRAMMER</p>
      </section>
      <!-- Acerca de mí -->
      <section class="main__about about" id="about">
        <h2 class="about__title">ABOUT ME</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Hi, my name is Thiago, I'm 12 years old, I'm Uruguayan, 
            I started programming when I was 8 so I have a pretty 
            varied programming background, I know a lot about basic Python 
            and at the same time I also know quite a bit about 
            web programming with Python.


          </p>
          <img
            class="info-block__img"
            src="../static/img/WIN_20260719_19_06_50_Pro.jpg"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Sección de competencias -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="project__link" href="https://github.com/thiagomigyeomkimcalvete-glitch/Mis-Proyectos/tree/5254506c5b389d43d8bcffcb6c444281fad64610/Python%20Pro" target="_blank">By clicking on this link, you'll be shown on Github all the code I used from regular Python this year</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="project__link" href="https://github.com/thiagomigyeomkimcalvete-glitch/Mis-Proyectos/blob/50634bad62565f292d60f10a9a7753fa48db4591/Bot_DISCORD.py" target="_blank">In this link is the code I used to program the Discord bot that I made</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="project__link" href="https://github.com/thiagomigyeomkimcalvete-glitch/Mis-Proyectos/tree/1b94077f11f5f5bcc455f13914eded629f496513/Diario%20version%202" target="_blank">This link will take you to a GitHub repository where the codes I used to create a website are, a website that talks about environmental awareness regarding electricity use to roughly find out how much electricity you use per day.</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="project__link" href="https://github.com/thiagomigyeomkimcalvete-glitch/Mis-Proyectos/tree/86ac2191d95c85fd24d5e50ebc2ca0c5e25b03ce/Diario%20version%202%20(1)" target="_blank">This link takes you to a GitHub repository where I have the latest code I made, which is basically a website where you can post your own ideas by logging in with your account. That account is saved in a database so you can add all your ideas in the future.</a>
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="project__link" href="">Abierto en GitHub</a>
          </div>
        {% endif %}
      </section>
      <!-- Formulario de contacto -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Comment"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
    </main>
    <!-- Pie de página con enlaces a redes sociales -->
    <footer>

    </footer>
  </body>
</html>
